@import '/src/styles.scss';

.application{
    background-color: $mainBgColor;
    height: 100vh;
    padding: 50px 20px 0;
    position: relative;

    &__window{
        background-color: #fff;
        height: 600px;
        border-radius: 10px;

        @include media-breakpoint-up(sm){
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
        }
    }
}