<div class="loginBlock__icon">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:none;stroke:#000;stroke-linejoin:round;stroke-width:2px;}</style></defs><title>7-User-Check</title><g id="_7-User-Check" data-name="7-User-Check"><path class="cls-1" d="M24,13V11a1,1,0,0,0-1-1V8A7,7,0,0,0,9,8v2a1,1,0,0,0-1,1v2a1,1,0,0,0,1,1,7,7,0,0,0,4,6.31V23L5,26s-4,1-4,3v2H15"/><circle class="cls-1" cx="24" cy="24" r="7"/><polyline class="cls-1" points="21 24 23 26 27 22"/></g></svg>
</div>
<div class="loginBlock__header">
    <h2 class="title">Logowanie</h2>
    <p>Wypełnij ponizsze pola, aby zalogować się do systemu</p>
</div>
<div *ngIf="errorText!=''" class="alert alert-danger formError" role="alert">
    {{errorText}}
</div>
<form #loginForm="ngForm" class="loginForm" (ngSubmit)="loginHandle(loginForm)" novalidate>
    <div class="form-group">
        <input type="email" name="email" #prmEmail="ngModel" [ngModel]="loginValues.email" class="form-control" placeholder="Email" required>
    </div>
    <div class="form-group">
        <input type="password" name="password" [ngModel]="loginValues.password" class="form-control" minlength="8" placeholder="Hasło" required>
    </div>
    <button type="submit" class="btn btn-primary w-100" [disabled]="loading">
        <span *ngIf="loading" class="spinner-border text-light">
        </span>
        <span *ngIf="!loading">Zaloguj się</span>
    </button>

</form>