$primary: #487cd2;
@import '~bootstrap/scss/bootstrap.scss';

// background color
$mainBgColor : #f4f4f4;
$inputBgColor: #fbfbff;

//text color
$darkTextColor: #111;
$darkGrayTextColor: #767676;
$placeholderColor: #cacaca;

.btn.redirectButton{
    color: #fff;
    padding: 15px 40px;
}